<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>390011175498-f16b4mbqeqtuiamdh6h4j5u80c92utps.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.390011175498-f16b4mbqeqtuiamdh6h4j5u80c92utps</string>
	<key>API_KEY</key>
	<string>AIzaSyCWtTyXBtsPFbqEIQrWXg83FFIUxYpw1mM</string>
	<key>GCM_SENDER_ID</key>
	<string>390011175498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.habv.QRCodeScanner</string>
	<key>PROJECT_ID</key>
	<string>qrcodescanner-d2b2c</string>
	<key>STORAGE_BUCKET</key>
	<string>qrcodescanner-d2b2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:390011175498:ios:a3ec421948b72d725e9cb3</string>
	<key>DATABASE_URL</key>
	<string>https://qrcodescanner-d2b2c.firebaseio.com</string>
</dict>
</plist>